:root {
  /* colours */
  --white: hsl(0 0% 100%);
  --stone-100: hsl(30 54% 90%);
  --stone-150: hsl(30 18% 87%);
  --stone-600: hsl(30 10% 34%);
  --stone-900: hsl(24 5% 18%);
  --brown-800: hsl(14 45% 36%);
  --rose-50: hsl(330 100% 98%);
  --rose-800: hsl(332 51% 32%);

  /* semantic colours */
  --bg-body: var(--stone-100);
  --bg-card: var(--white);
  --bg-card-accent: var(--rose-50);
  --clr-border: var(--stone-150);
  --clr-text-body: var(--stone-600);
  --clr-heading-primary: var(--stone-900);
  --clr-heading-secondary: var(--brown-800);
  --clr-heading-accent: var(--rose-800);
  --clr-table-data: var(--brown-800);
  --clr-bullet-primary: var(--brown-800);
  --clr-bullet-accent: var(--rose-800);

  /* typography */
  --ff-sans: "Outfit", sans-serif;
  --ff-serif: "Young Serif", serif;
  --fw-normal: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fs-base: 1rem; /* 16px */
  --fs-lg: 1.25rem; /* 20px */
  --fs-2xl: 1.75rem; /* 28px */
  --fs-4xl: 2.25rem; /* 36px */
  --fs-5xl: 2.5rem; /* 40px */
  --fs-fluid-xl: clamp(var(--fs-4xl), 2.1786rem + 0.3571vw, var(--fs-5xl));
  --lh-tight: 1;
  --lh-base: 1.5;

  /* spacing */
  --space-100: 8px;
  --space-150: 12px;
  --space-200: 16px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;
  --space-600: 48px;
  --space-160: 128px;

  /* border radius & box shadow */
  --radius-sm: var(--space-150);
  --radius-lg: var(--space-300);
  --shadow: 0 4px 4px 0 hsl(0 0 0 / 0.25);
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/young-serif.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--bg-body);
  color: var(--clr-text-body);
  font-family: var(--ff-sans);
  font-size: var(--fs-base);
  font-weight: var(--fw-normal);
  line-height: var(--lh-base);
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe {
  background-color: var(--bg-card);
  max-width: clamp(38.5rem, 36.3571rem + 10.7143vw, 46rem);
}
