:root {
  /* colours */
  --white: hsl(0 0% 100%);
  --stone-100: hsl(30 54% 90%);
  --stone-150: hsl(30 18% 87%);
  --stone-600: hsl(30 10% 34%);
  --stone-900: hsl(24 5% 18%);
  --brown-800: hsl(14 45% 36%);
  --rose-800: hsl(332 51% 32%);
  --rose-50: hsl(330 100% 98%);

  /* semantic colours */
  --clr-title-primary: var(--brown-800);
  --clr-title-secondary: var(--stone-900);
  --clr-title-tertiary: var(--rose-800);
  --clr-text-primary: var(--stone-600);
  --clr-text-secondary: var(--brown-800);
  --clr-bullet-primary: var(--brown-800);
  --clr-bullet-secondary: var(--rose-800);
  --clr-bg-body: var(--stone-100);
  --clr-bg-card: var(--white);
  --clr-bg-accent: var(--rose-50);
  --clr-border: var(--stone-150);

  /* typography */
  --ff-serif: "Young Serif", serif;
  --ff-sans: "Outfit", sans-serif;
  --fw-normal: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fs-base: 1rem; /* 16px */
  --fs-md: 1.25rem; /* 20px */
  --fs-lg: 1.75rem; /* 28px */
  --fs-xl: 2.25rem; /* 36px */
  --fs-2xl: 2.5rem; /* 40px */
  --fs-fluid-xl: clamp(var(--fs-xl), 2.1786rem + 0.3571vw, var(--fs-2xl));
  --lh-tight: 1;
  --lh-base: 1.5;

  /* spacing */
  --space-100: 8px;
  --space-150: 12px;
  --space-200: 16px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;
  --space-600: 48px;
  --space-1600: 128px;

  /* border & border radius */
  --border: 1px solid var(--clr-border);
  --radius-sm: var(--space-150);
  --radius-lg: var(--space-300);

  /* shadow */
  --shadow: 0 4px 4px hsl(0 0 0 / 0.25);
}

@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/outfit/Outfit-VariableFont.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Young Serif";
  src: url("/assets/fonts/young-serif/young-serif-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--clr-bg-body);
  color: var(--clr-text-primary);
  font-family: var(--ff-sans);
  font-size: var(--fs-base);
  font-weight: var(--fw-normal);
  line-height: var(--lh-base);
}

main {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

strong {
  font-weight: var(--fw-bold);
}

hr {
  border: none;
  border-top: var(--border);
}

table {
  border-collapse: collapse;
}

th,
td {
  width: 50%;
  padding-block: var(--space-150);
}

th {
  text-align: start;
  padding-inline-start: var(--space-400);
}

td {
  padding-inline: var(--space-200) var(--space-400);
  color: var(--clr-text-secondary);
  font-weight: var(--fw-bold);
}

tr:not(:last-child) {
  border-bottom: var(--border);
}

tr:first-child th,
tr:first-child td {
  padding-block-start: 0;
}

tr:last-child th,
tr:last-child td {
  padding-block-end: 0;
}

.recipe {
  background-color: var(--clr-bg-card);
  max-width: 46rem;
}

.recipe__image {
  height: auto;
  width: 100%;
}

.recipe__content {
  padding: var(--space-500) var(--space-400);
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
}

.recipe__intro {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

.recipe__title {
  color: var(--clr-title-secondary);
  font-family: var(--ff-serif);
  font-size: var(--fs-fluid-xl);
  font-weight: var(--fw-normal);
  line-height: var(--lh-tight);
}

.prep-time {
  background-color: var(--clr-bg-accent);
  padding: var(--space-300);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
}

.prep-time__title {
  color: var(--clr-title-tertiary);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-md);
  line-height: var(--lh-tight);
}

.prep-time__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
  padding-inline-start: var(--space-300);
}

.prep-time__item {
  padding-inline-start: var(--space-200);
}

.prep-time__item::marker {
  color: var(--clr-bullet-secondary);
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

.content-section__title {
  color: var(--clr-title-primary);
  font-size: var(--fs-lg);
  font-family: var(--ff-serif);
  font-weight: var(--fw-normal);
  line-height: var(--lh-tight);
}

.content-section__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
  padding-inline-start: var(--space-300);
}

.content-section__item {
  padding-inline-start: var(--space-200);
}

.content-section__item::marker {
  color: var(--clr-bullet-primary);
  font-weight: var(--fw-bold);
}

@media (min-width: 44rem) {
  main {
    padding: var(--space-1600) var(--space-600);
  }

  .recipe {
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow);
    padding: var(--space-500);
  }

  .recipe__image {
    border-radius: var(--radius-sm);
  }

  .recipe__content {
    padding: 0;
    margin-block-start: var(--space-500);
  }
}
